* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    background: #EDEDED;
}

header {
    height: 667px;
}

h1,
h2,
h3 {
    font-family: 'Anton';
}

header h1 {
    font-size: 44px;
    color: #FFD15B;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    margin-top: 245px;
    font-weight: 400;
    line-height: 66.24px;

}

header a {
    display: flex;
}

ul {
    list-style-type: none;
}

main {
    padding: 0 100px;
}

#header {
    background-image: url(../assets/logo/unsplash.jpg);
    object-fit: cover;
    padding: 51px 69px;
}

#header-ctn-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

#header-ctn-title input {
    width: 100%;
    height: 72px;
    border-radius: 10px;
    outline: none;
    color: #7A7A7A;
    font-size: 25px;
    padding-left: 40px;
    border: none;
}

#input-header {
    width: 65%;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 25px;
}

#input-header i {
    color: white;
    background-color: #1B1B1B;
    position: absolute;
    font-size: 30px;
    padding: 17px;
    border-radius: 10px;
    right: 15px;
    transition: all 0.3s;
}

#input-header i:hover {
    background-color: #FFD15B;
    cursor: pointer;
    color: black;
}

#filter-all {
    display: flex;
    width: 100%;
    align-items: baseline;
    max-width: 1440px;
    justify-content: space-between;
}

#filter {
    display: flex;
    margin-top: 20px;
}

.block-filters {
    background-color: white;
    width: 188px;
    height: 56px;
    margin-right: 50px;
    border-radius: 11px;
    box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.filter-item {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.filter-item p {
    font-family: 'Manrope';
}

.filter-select,
.filter-ctn i {
    display: none;
}

#nbr-recipes {
    font-family: 'Anton';
    font-weight: 400;
    font-size: 21px;
}

a {
    text-decoration: none;
}

#recipes-ctn {
    padding: 25px 0;
    margin: 50px 0;
}

#recipes-ctn img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

#card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#recipes-ctn article {
    border-radius: 25px;
    background-color: #EDEDED;
    font-family: 'Manrope';
}

.tmp {
    position: relative;
    background-color: #FFD15B;
    color: black;
    padding: 10px;
    top: -225px;
    width: 30%;
    text-align: center;
    left: 238px;
    border-radius: 25px;
}

.recipe-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    text-decoration: none;
    color: black;
    line-height: 10px;
    background-color: white;
    height: 478px;
    border-radius: 0 0 25px 25px;
}

.ctn-txt {
    width: 100%;
}

.align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.align h4 {
    color: #7A7A7A;
    font-weight: 700;
    margin: 15px 0;
}

.ctn-image {
    height: 230px;
}

.all-size {
    display: flex;
}

.all-size h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27.1px;
}

.card-title {
    margin: 20px 0;
    text-align: left;
}

.ingredients,
.all-size p {
    line-height: 19.12px;
}

.ingredients {
    width: 50%;
    font-size: 14px;
}

.ingredients :nth-child(1) {
    font-weight: 500;
    margin: 15px 0;
}

.ingredients :nth-child(2) {
    color: #7A7A7A;
    font-weight: 400;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.12px;
}

#error-container {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}