* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    background: #EDEDED;
}

header {
    height: 667px;
}

h1,
h2,
h3 {
    font-family: 'Anton';
}

header h1 {
    font-size: 44px;
    color: #FFD15B;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    margin-top: 245px;
    font-weight: 400;
    line-height: 66.24px;

}

header a {
    display: flex;
}

ul {
    list-style-type: none;
}

#header {
    background-image: url(../assets/logo/unsplash.jpg);
    object-fit: cover;
    padding: 51px 69px;
}

#header-ctn-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

#header-ctn-title input {
    width: 100%;
    height: 72px;
    border-radius: 10px;
    outline: none;
    color: #7A7A7A;
    font-size: 25px;
    padding-left: 40px;
    border: none;
}

#input-header {
    width: 65%;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 25px;
}

#input-header i {
    color: white;
    background-color: #1B1B1B;
    position: absolute;
    font-size: 30px;
    padding: 17px;
    border-radius: 10px;
    right: 15px;
    transition: all 0.3s;
}

#input-header i:hover {
    background-color: #FFD15B;
    cursor: pointer;
    color: black;
}

#filter-all {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    align-items: baseline;
    max-width: 1440px;
}

#filter {
    display: flex;
    margin-top: 20px;
}

.block-filters {
    background-color: white;
    width: 188px;
    height: 56px;
    margin-right: 50px;
    border-radius: 11px;
    box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.filter-item {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.filter-item p {
    font-family: 'Manrope';
}

.filter-select,
.filter-ctn i {
    display: none;
}

#nbr-recipes {
    font-family: 'Anton';
    font-weight: 400;
    font-size: 21px;
}